<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>User management tool</title>

<!-- Bootstrap core CSS -->
<link href="/static/bootstrap4/dist/css/bootstrap.min.css" rel="stylesheet"
	type="text/css">
<link href="/static/css/starter-template.css" rel="stylesheet"
	type="text/css">
</head>

<body>

	<div th:insert="fragments/header.html :: header"></div>

	<div class="container">

		<div class="starter-template">
			<h1 th:text="${greeting}"></h1>
		</div>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>#ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Frameworks</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user : ${users}" th:attr="id=${'userRow_' + user.id}">
					<th scope="row" th:text="${user.id}">1</th>
					<td th:text="${user.name}">Mark</td>
					<td th:text="${user.email}">Otto@gmail.oc</td>
					<td th:text="${user.frameworks}">jsf</td>
					<td>
						<div style="margin: 0 auto">
							<button type="button" class="btn btn-primary showUserButton">Query</button>
							<button type="button" class="btn btn-info">Update</button>
							<button type="button" class="btn btn-danger deleteUserButton"
								th:attr="data-user-id=${user.id}">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:insert="fragments/footer.html :: footer"></div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<script src="/static/js/jquery-3.2.1.min.js"></script>
	<script src="/static/bootstrap4/assets/js/vendor/popper.min.js"></script>
	<script src="/static/bootstrap4/dist/js/bootstrap.min.js"></script>
	<script src="/static/js/app.js"></script>
</body>
</html>
